## $Id: global.vm,v 1.2 2009/12/11 21:09:53 jdufner Exp $
##
##
##
#macro(cellborder $cell)
font-family:san-serif,Helvetica,Arial; width:35px; min-width:35px; height:35px; min-height:35px; text-align:center;
#if(${cell.top}) border-top:2px solid #000000; #else border-top:1px solid #000000; #end
#if(${cell.right}) border-right:2px solid #000000; #else border-right:1px solid #000000; #end
#if(${cell.bottom}) border-bottom:2px solid #000000; #else border-bottom:1px solid #000000; #end
#if(${cell.left}) border-left:2px solid #000000; #else border-left:1px solid #000000; #end
#if(${cell.blockIndex} % 2 == 0) background-color:white; #else background-color:silver; #end
#end
##
##
##
#macro(cellvalue $cell)
#if(${cell.value.value} != 0) ${cell.value.value} #else &nbsp; #end
#end
##
##
##
#macro(sudokuboard $sudoku)
  <div style="padding:10px;">
    <!-- Sudoku ${velocityCount} / ${sudokus.size()} -->
    <!-- ${sudoku.size} -->
    <table cellspacing="0" cellpadding="0" border="0">
#foreach($row in ${sudoku.rows})
      <tr>
#foreach($cell in ${row.cells})
#if(${cell.fixed})
        <td style="font-size:16px; font-weight:bold; #cellborder(${cell})">
          #cellvalue(${cell})
        </td>
#else
        <td style="font-size:8px; #cellborder(${cell}) text-align:left; vertical-align:top;">
#if($printCandidates)
#foreach($candidate in ${cell.candidates})
          $candidate.value
#end
#else
&nbsp;
#end
        </td>
#end
#end
      </tr>
#end
    </table>
  </div>
#end
