## $Id$
###############################################################################
##
## Hauptteil
##
###############################################################################
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <meta name="author" content="J&uuml;rgen Dufner">
    <meta name="keywords" content="Sudoku">
    <!--meta http-equiv="content-type" content="text/html; charset=ISO-8559-15"-->
    <meta http-equiv="Content-Script-Type" content="text/javascript">
  </head>
  <body>
#sudokuboard($sudoku)
  </body>
</html>
